// Initilaize Variable
$wallpaper_1_width : 100%;
$wallpaper_1_height : 150%;

.home_layout {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center
}

.wallpaper_1 {
    width: $wallpaper_1_width;
    height: $wallpaper_1_height;

}

.home_text {
    position: absolute;
}