// Initilaize variable
$padding_contact_layout : 2% 0 1.75% 1.5%;

// Initialize Animation
@keyframes fadeInLeft {
    from { opacity: 0; transform: translateX(-20px); }
    to   { opacity: 1; transform: translateX(0) }
}

.contact_layout {
    display: flex;
    flex-direction: column;
    font-family: 'Quicksand', sans-serif;
    padding: $padding_contact_layout;
    width: 100%;
    // background-color: #ffe9ec;
    background-color: pink;
    
}

// '*' -> select all element inside another element
// .contact_layout > * + * {
//     margin-top: 100px;
// }

// .contact_layout > * + * + *{
//     margin-top: 100px;
// }

.contact_Heading_1 {
    color: #999;
    display: inline-block;
    font-size: 10px;
    font-weight: 500;
    margin: 0 0 1.5% 0;
    text-transform: uppercase; 
}

.contact_Heading_2 {
    display: inline-block;
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 5px;
    line-height: 1.8;
    margin: 0 0 3% 0;
    text-transform: uppercase;
}

