.project_layout {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: orange;
    padding: 1.5% 0 0 1.5%;
    align-items: center;
    justify-content: center;
    text-align: center;

    width: 100%;
}

.project_Heading_1 {
    margin: 0 0 1.5% 0;
}