.image_carousel_layout {
    display: flex;
    flex-direction: column;
    // align-items: flex-start;
    background-color: orange;
    padding: 1.5% 0 2.5% 0;
    align-items: center;
    justify-content: center;
    text-align: center;

    width: 100%;
}

.project_Heading_1 {
    margin: 0 0 1.5% 0;
}

.project_image {
    width: 55%;
    height: 55%;
}